DATABASE_URL=
GEMINI_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
DEBUG='True'
SECRET_KEY=

compte_admin_django=
mot_de_pass_django=