<dialog id="modalRate{{beer.id}}" class="modal">
    <div class="modal-box custom-modal-form">
        <h3 class="font-bold text-lg mb-4">Noter : {{ beer.name }}</h3>
        <form method="post" action="{% url 'rate_beer' beer.id %}">
            {% csrf_token %}
            <div class="form-control w-full mb-3">
                <label class="label"><span class="label-text">{{ rating_form.date.label }}</span></label>
                {{ rating_form.date }}
            </div>
            <div class="form-control w-full mb-3">
                <label class="label"><span class="label-text">{{ rating_form.note.label }}</span></label>
                {{ rating_form.note }}
            </div>
            <div class="form-control w-full mb-4">
                <label class="label"><span class="label-text">{{ rating_form.comment.label }}</span></label>
                {{ rating_form.comment }}
            </div>
            {% include "partials/notebook_selector.html" %}
            <button type="submit" class="btn btn-success w-full text-white">Enregistrer mon avis</button>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop"><button>Fermer</button></form>
</dialog>