{% for beer in beers %}
<div class="card bg-white shadow-sm p-3 relative overflow-hidden hover:bg-base-200 active:scale-[0.98] transition-all">
    <a href="{% url 'beer_detail' beer.slug %}" class="absolute inset-0 z-0"></a>
    
    {% if user.is_authenticated and beer.id not in rated_beer_ids %}
    <button class="absolute top-2 right-2 btn btn-xs btn-circle bg-gradient-to-br from-[#CD7F32] to-[#8C5722] border-none text-white shadow-sm z-20" onclick="toggleWishlist(event, {{beer.id}})" title="Wishlist">
        <svg id="wishlist-icon-{{beer.id}}" xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 transition-colors" fill="{% if beer.id in wishlist_beer_ids %}currentColor{% else %}none{% endif %}" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 5a2 2 0 012-2h10a2 2 0 012 2v16l-7-3.5L5 21V5z" />
        </svg>
    </button>
    {% endif %}

    <div class="pointer-events-none flex-1 flex flex-col">
        <h3 class="font-bold text-md leading-tight">{{ beer.name }}</h3>
        <a class="text-xs text-gray-500 block mb-1 pointer-events-auto z-10 hover:text-primary transition-colors w-fit" href="{% url 'brewery_detail' beer.brewery_id.id %}">{{ beer.brewery_id.name }}</a>
        <p class="text-[11px] text-gray-600 line-clamp-2 mb-2">{{ beer.description|truncatechars:80 }}</p>
        <div class="flex gap-2 text-xs mb-3">
            <span class="badge badge-outline badge-neutral badge-xs">Alc. {{ beer.degree }}%</span>
            {% if beer.bitterness is not None %}
            <span class="badge badge-outline badge-neutral badge-xs">IBU {{ beer.bitterness }}</span>
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="relative z-10 mt-auto pointer-events-auto">
        {% if beer.id in rated_beer_ids %}
        <button class="btn btn-xs btn-disabled w-full">Déjà noté</button>
        {% else %}
        <button class="btn btn-xs btn-primary btn-outline w-full" onclick="modalRate{{beer.id}}.showModal()">Noter</button>
        {% endif %}
    </div>
    {% endif %}
</div>

{% include "partials/rate_beer_modal.html" %}

{% empty %}

{% include "partials/empty_state.html" with title="Aucune bière trouvée" description="Essayez de modifier vos filtres ou ajoutez une nouvelle bière." add_btn_text="L'ajouter au catalogue" %}

{% endfor %}